<?xml version="1.0"?>
<model>
  <name>NUS_SEDS_OGV</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>NUS SEDS Team</name>
    <email>seds@nus.edu.sg</email>
  </author>
  <description>
    NUS SEDS Omnidirectional Ground Vehicle
    Used for Advika 3.0 multi-model testing
  </description>
</model>
